<div class="container">
    <div class="row ">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
  
          </div>
  
          <div class="card testimonial-card">
  
            <!--Background color-->
            <div class="container card-up sunny-morning-gradient">
            </div>
  
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(33).jpg" class="square img-responsive" alt="Example photo">
            </div>
  
            <div class="card-body">
              <!--Name-->
  
              <div class="profile-usertitle-name">
                <h1>{{user?.username}}</h1>
              </div>
              <div class="profile-usertitle-job">
                <p>{{user?.name}} </p>
              </div>
              <hr>
              <div>
                <p> Phone :{{user?.phone}} </p>
              </div>
              <div>
  
                <p> Email :{{user?.email}} </p>
              </div>

            </div>
  
          </div>
      
          <div class="profile-userbuttons">
            <button style="background:rgb(57, 57, 138)" type="button" class="btn btn-success btn-sm ">Edit Profile</button>
        
          </div>
   
        </div>
      </div>
    
      <div class="col-md-9">
        <div class="row">
          
    
       <div class="col-md-6">
            <div *ngFor="let post of posts">
              <div class="card">
                <h5 class="card-header">Post</h5>
                <div class="card-body">
                  <h5 class="card-title">{{post?.title}}</h5>
                  <p class="card-text">{{post?.body}}</p>
                  <a href="#" style="background:rgb(57, 57, 138)" class="btn btn-primary">Edit Post</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
              
              
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Todos
              </div>
              <ul class="list-group list-group-flush" *ngFor="let todo of todos ">
                <li class="list-group-item">{{todo?.title}}</li>
              </ul>
            </div>

        </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <br>
  <br>